body {
    margin: 0;
    font-family: Merriweather;
}

header {
    margin: 0;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    position: relative;
    background-color: lightblue;
    padding: 15px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
}

#menu {
    width: 30px;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#menu::before {
    content: "🟰";
}

#menu.open::before {
    content: "❌";
}


.navigation {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    /* margin-bottom: 20px; */
}

.navigation a {
    display: none;
    padding: 20px;
    justify-content: space-between;
    color: black;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.open a {
    display: block;
    background-color: lightgray;
    max-width: 200px;
    width: 100%;
}

.open a:hover {
    text-decoration: underline;
}

/* Main Page CSS */

.hero-img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: lightgray;
}

.hero-img img {
    width: 100%;
    height: auto;
}

.joinBtn {
    font-size: 1rem;
    position: absolute;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    margin-top: 10px;
}

.joinBtn a {
    text-decoration: none;
    color: black;
}

.joinBtn a:hover {
    text-decoration: underline;
} 

main {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.card {
    border: solid 4px black;
    margin: 15px;
    padding: 20px;
    background-color: white;
}

h2 {
    margin: 0;
    text-align: center;
}

#questions p,
#equip p,
#rules p,
#clubs p {
    text-align: center;
}

#questionsBtn,
#equipBtn,
#rulesBtn,
#clubBtn {
    align-items: center;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}

#questionsBtn a,
#equipBtn a,
#rulesBtn a,
#clubBtn a {
    text-decoration: none;
    color: black;
}

#questionsBtn a:hover,
#equipBtn a:hover,
#rulesBtn a:hover,
#clubBtn a:hover {
    text-decoration: underline;
}


footer {
    margin: 0;
    background-color: lightblue;
    text-align: center;
    font-size: 1rem;
}

footer p {
    margin: 0;
    padding: 10px;
}


/* FAQ Page CSS */

#faqPage h2 {
    padding: 15px;
}

.faqCard {
    background-color: white;
    border: solid 4px black;
    padding: 15px;
    margin: 10px;
}

.faqCard h3, p {
    text-align: center;
}

.faqReview {
    /* max-width: 450px; */
    align-items: center;
}

fieldset {
    margin: 15px;
}

#personalInfo input[type="text"],
#personalInfo input[type="tel"],
#personalInfo input[type="email"]
{
    display: block;
    border-radius: 6px;
    padding: .5rem;
    width: 100%;
    max-width: 350px;
    margin-bottom: 15px;
}

#personalInfo label {
    margin-top: 15px;
}

.formLabel {
    margin-top: 20px;

}

textarea {
    display: block;
    width: 100%;
    height: 200px;
}

#submitBtn {
    width: 93%;
    padding: .8rem;
    font-size: 1.25rem;
    align-items: center;
    text-align: center;
    margin: 1rem 3% 1rem 4%;
    color: black;
}

/* #faqPhoto{
    text-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px;
} */

#faqphoto {
    margin: 20px;
}

#faqPhoto img {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    /* padding: 20px; */
    max-width: 700px;
}


/* Rules Page CSS */

#rulesPage {
    padding: 30px;
}


/* FAQ Submit Page */

#reviewPage, #questions {
    text-align: center;
}