@media screen and (min-width: 700px) {
    body {
        width: 100%;
    }
    main div {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {

    body {
        width: 100%;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        padding: 20px;
        font-size: 1.5rem;
    }

    main div {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

