@media screen and (min-width: 1000px) {
    
    :root {
        --lightgray: #d3d3d3;
    }

    #weather-icon {
        display: none;
    }

    #wide-weather {
        display: inline;
    }

    #wide-weather::after {
        width: 120px;
    }

    #data {
        position: absolute;
        top: 7rem;
        left: 2rem;
        background-color: var(--lightgray);
    }

    #weather {
        position: absolute;
        top: 17rem;
        right: 2rem;
        background-color: var(--lightgray);
    }

}