body {
    font-family: Merriweather;
}

header, footer {
    background-color: royalblue;
    color: black;
    margin: 0 auto;
    padding: 10px;
}

#small {
    grid-template-columns: 1fr;
}

h1 {
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.card {
    text-align: center;
}

#wide-weather {
    display: none;
}

#weather-icon {
    width: 100px;
    height: auto;
}

.card {
    padding: 20px;
    border: solid black 3px;
    margin: 10px;
}

footer {
    text-align: center;
}