#small {
    grid-template-columns: 1fr;
}

h1 {
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.card {
    text-align: center;
}

.weather-icon {
    width: 20%;
}

footer {
    text-align: center;
}